<div class="row">
    <div class="col-lg-12">
        <nb-flip-card [flipped]="flipped" [showToggleButton]="false">
            <nb-card-front>
                <nb-card>
                    <nb-card-header>Seu Perfil</nb-card-header>
                    <nb-card-body>
                        <form [formGroup]="form">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    Status: {{ form.get('status').value === 1 ? 'Ativo' : 'Inativo'}}</div>
                                <div class="col-sm-3">Alterar
                                    Senha: {{ form.get('alterar_senha').value === 1 ? 'Sim' : 'Não'}}</div>
                                <div class="col-sm-3">Grupo: {{grupo}}</div>
                                <div class="col-sm-3">Região: {{regiao}}</div>
                            </div>
                            <div class="form-group row">
                                <label for="Email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="Email" formControlName="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Nome" class="col-sm-3 col-form-label">Nome</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Nome" formControlName="nome_razao">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="CPF" class="col-sm-3 col-form-label">CPF</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="CPF" formControlName="cpf">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comissão" class="col-sm-3 col-form-label">Comissão %</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Comissão" formControlName="comissao">
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="col-md-12">
                            <button nbButton (click)="salvar()" [disabled]="form.invalid" class="link">Salvar</button>
                            <button nbButton (click)="toggleCard()" class="link float-right">Alterar senha</button>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card>
                    <nb-card-header>Alterar Senha</nb-card-header>
                    <nb-card-body>
                        <form [formGroup]="form">
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" minlength="8" id="password" formControlName="password">
                                    <div class="alert alert-danger" *ngIf="form.get('password').errors?.minlength">
                                        Minimo de 8 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cpassword" class="col-sm-3 col-form-label">Confirma Password</label>
                                <div class="col-sm-9">
                                    <input type="password" nbInput status="{{form.errors?.confirmPassword ? 'danger' : ''}}" class="form-control" id="cpassword" formControlName="password_confirm">
                                    <div class="alert alert-danger" *ngIf="form.errors?.doesMatchPassword">
                                        Senha não confere
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="col-md-12">
                            <button nbButton (click)="salvar()" [disabled]="form.invalid" class="link">Salvar</button>
                            <button nbButton (click)="toggleCard()" class="link float-right">Voltar</button>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </nb-card-back>
        </nb-flip-card>
    </div>
</div>
