<h1 id="title" class="title">Login</h1>
<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oops!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">
            {{error.message}}
            {{error.cpf}}
            {{error.password}}
        </li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Parabens!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-cpf">CPF/CNPJ:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="user.cpf"
               #cpf="ngModel"
               name="cpf"
               id="input-cpf"
               pattern="([0-9]{11})|([0-9]{14})"
               placeholder="CPF/CNPJ"
               ngxMyNumberOnly
               autofocus
               [status]="cpf.dirty ? (cpf.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.cpf.required')"
               [attr.aria-invalid]="cpf.invalid && cpf.touched ? true : null">
        <ng-container *ngIf="cpf.invalid && cpf.touched">
            <p class="error-message" *ngIf="cpf.errors?.required">
                CPF/CNPJ é Obrigatório!
            </p>
            <p class="error-message" *ngIf="cpf.errors?.pattern">
                CPF/CNPJ tem que ser válido, apenas numeros!
            </p>
            <p class="error-message" *ngIf="cpf.errors?.minlength || cpf.errors?.maxlength">
                CPF/CNPJ deve conter
                entre {{ getConfigValue('forms.validation.password.minLength') }}
                e {{ getConfigValue('forms.validation.password.maxLength') }}
                numeros
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="user.password"
               #password="ngModel"
               name="password"
               type="password"
               id="input-password"
               placeholder="Password"
               [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.password.required')"
               [minlength]="getConfigValue('forms.validation.password.minLength')"
               [maxlength]="getConfigValue('forms.validation.password.maxLength')"
               [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched ">
            <p class="error-message" *ngIf="password.errors?.required">
                Password é obrigatório!
            </p>
            <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                Password deve conter
                entre {{ getConfigValue('forms.validation.password.minLength') }}
                e {{ getConfigValue('forms.validation.password.maxLength') }}
                characters
            </p>
        </ng-container>
    </div>

    <button nbButton
            fullWidth
            status="success"
            [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">
        Entrar
    </button>
</form>

