@import '../../../@theme/styles/themes';

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {

    /deep/ nb-tabset {
        display: flex;
        flex-direction: column;
        flex: 1;

        ul {
            border-bottom: none;
        }
    }

    nb-tab {
        flex: 1;
        padding-bottom: 1.25rem;
    }

    .chart-container {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    ngx-painel-vendas-header,
    ngx-grafico-vendas {
        padding: 0 1.25rem;
    }
}
