<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Editar Usuário</nb-card-header>
            <nb-card-body>
                <form [formGroup]="perfilForm">
                    <div class="row full-name-inputs mb-4">
                        <div class="col-sm-3">
                            <nb-select placeholder="Status"
                                       formControlName="status"
                                       status="{{perfilForm.get('status').value === '1' ? 'success' : 'danger'}}"
                                       size="large"
                                       shape="rectangle">
                                <nb-select-label>
                                    Status {{ perfilForm.get('status').value === '1' ? 'Ativo' : 'Inativo'}}
                                </nb-select-label>
                                <nb-option value="1">Ativo</nb-option>
                                <nb-option value="0">Inativo</nb-option>
                            </nb-select>
                        </div>
                        <div class="col-sm-3">
                            <nb-select placeholder="alterar Senha"
                                       formControlName="alterar_senha"
                                       status="{{perfilForm.get('alterar_senha').value === '1' ? 'success' : 'danger'}}"
                                       size="large"
                                       shape="rectangle">
                                <nb-select-label>
                                    Alterar Senha {{ perfilForm.get('alterar_senha').value === '1' ? 'Sim' : 'Não'}}
                                </nb-select-label>
                                <nb-option value="1">Sim</nb-option>
                                <nb-option value="0">Não</nb-option>
                            </nb-select>
                        </div>
                        <div class="col-sm-3">
                            <nb-select placeholder="{{ GrupoSelecionado }}"
                                       status="{{ GrupoSelecionado !== '' ? 'success' : 'danger'}}"
                                       formControlName="group"
                                       size="large"
                                       shape="rectangle">
                                <nb-option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{ grupo.nome }}
                                </nb-option>
                            </nb-select>
                        </div>
                        <div class="col-sm-3">
                            <nb-select placeholder="{{ RegiaoSelecionado }}"
                                       formControlName="regiao"
                                       status="{{ RegiaoSelecionado !== '' ? 'success' : 'danger'}}"
                                       size="large"
                                       shape="rectangle">
                                <nb-option *ngFor="let reg of regiaos" value="{{reg.id}}">{{ reg.nome }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-6 form-group">
                            <label for="cpf">CPF / CNPJ
                                <span [hidden]="!perfilForm.get('cpf').hasError('required')" class="required">*</span>
                            </label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="cpf"
                                   placeholder="Cpf"
                                   formControlName="cpf"
                                   ngxMyNumberOnly
                                   minlength="11"
                                   maxlength="14"
                                   nbInput
                                   fullWidth
                                   status="{{perfilForm.errors?.cpfNotValid ? 'danger' : perfilForm.errors?.cpfNotMin ? 'warning' : perfilForm.errors?.cnpjNotMin ? 'warning' : perfilForm.errors?.cnpjNotValid ? 'danger' : '' }}">
                            <div *ngIf="perfilForm.errors?.cpfNotValid" class="alert alert-danger">CPF Inválido</div>
                            <div *ngIf="perfilForm.errors?.cnpjNotValid" class="alert alert-danger">CNPJ Inválido</div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="nomeRazao">Nome / Razão Social <span
                                [hidden]="!perfilForm.get('nome_razao').hasError('required')"
                                class="required">*</span></label>
                            <input type="text" required class="form-control" id="nomeRazao"
                                   placeholder="Nome / Razão Social"
                                   formControlName="nome_razao"
                                   minlength="4"
                                   maxlength="100"
                                   nbInput fullWidth>
                        </div>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-6 form-group">
                            <label for="email">Email
                                <span [hidden]="!perfilForm.get('email').hasError('required')" class="required">*</span>
                            </label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email"
                                   formControlName="email"
                                   nbInput
                                   fullWidth
                                   required
                                   status="{{perfilForm.get('email').errors?.email ? 'danger' : '' }}">
                            <div *ngIf="perfilForm.get('email').errors?.email" class="alert alert-danger">Email
                                Inválido
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="password">Senha
                                <span [hidden]="!perfilForm.get('password').hasError('required')"
                                      class="required">*</span></label>
                            <input type="password"
                                   class="form-control" id="password"
                                   placeholder="login"
                                   minlength="4"
                                   maxlength="100"
                                   required
                                   nbInput
                                   fullWidth
                                   formControlName="password">
                        </div>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-2 form-group">
                            <label for="comissao">comissao %
                                <span [hidden]="!perfilForm.get('comissao').hasError('required')"
                                      class="required">*</span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="comissao"
                                   placeholder="Comissao"
                                   maxlength="3"
                                   ngxMyNumberOnly
                                   nbInput
                                   required
                                   fullWidth
                                   formControlName="comissao">
                        </div>
                    </div>
                </form>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton (click)="salvar()" [disabled]="perfilForm.invalid">Salvar</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
