<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>Detalhes do Cliente</nb-card-header>
    <nb-card-body>
        <nb-card-body>
            <form>
                <div class="row full-name-inputs">
                    <div class="col-sm-6 form-group">
                        <label for="Nome">Nome</label>
                        <input
                            type="text"
                            class="form-control"
                            id="Nome"
                            placeholder="Nome"
                            [value]="cliente.nome"
                            disabled
                            nbInput
                            fullWidth
                            />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="Email">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            id="Email"
                            placeholder="Email"
                            [value]="cliente.email"
                            disabled
                            required
                            nbInput
                            fullWidth
                            />
                    </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-6 form-group">
                        <label for="Observacao">Observação</label>
                        <input
                            type="text"
                            class="form-control"
                            id="Observacao"
                            placeholder="Observação"
                            [value]="cliente.observacao"
                            disabled
                            nbInput
                            fullWidth
                            />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="Pis">Pis</label>
                        <input
                            type="text"
                            class="form-control"
                            id="Pis"
                            placeholder="Pis"
                            [value]="cliente.pis"
                            disabled
                            nbInput
                            fullWidth
                            />
                    </div>
                </div>
                <div *ngIf="cliente.pessoa_fisica">
                    <div class="row full-name-inputs">
                        <div class="col-sm-6 form-group">
                            <label for="Cpf">Cpf </label>
                            <input
                                type="text"
                                id="Cpf"
                                class="form-control"
                                placeholder="CPF"
                                [value]="cliente.pessoa_fisica.cpf"
                                disabled
                                maxlength="11"
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="data_nascimento">Data Nascimento
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="data_nascimento"
                                placeholder="dd/MM/YYYY"
                                maxlength="10"
                                [value]="cliente.pessoa_fisica.data_nascimento"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-6 form-group">
                            <label for="Rg">Rg</label>
                            <input
                                type="text"
                                id="Rg"
                                class="form-control"
                                placeholder="Rg"
                                maxlength="10"
                                [value]="cliente.pessoa_fisica.rg"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="orgao_expedidor">Orgão Expedidor
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="orgao_expedidor"
                                placeholder="Orgao Expedidor"
                                maxlength="10"
                                [value]="cliente.pessoa_fisica.orgao_expedidor"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-4 form-group">
                            <label for="data_expedicao">Data Expedicao</label>
                            <input
                                type="text"
                                id="data_expedicao"
                                class="form-control"
                                placeholder="Data Expedicao"
                                [value]="cliente.pessoa_fisica.data_expedicao"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="cei">CEI</label>
                            <input
                                type="text"
                                class="form-control"
                                id="cei"
                                placeholder="cei"
                                [value]="cliente.pessoa_fisica.cei"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="cargo">Cargo </label>
                            <input
                                type="text"
                                class="form-control"
                                id="cargo"
                                [value]="cliente.pessoa_fisica.cargo"
                                disabled
                                placeholder="Cargo"
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                </div>
                <div *ngIf="cliente.pessoa_juridica">
                    <div class="row full-name-inputs">
                        <div class="col-sm-6 form-group">
                            <label for="Cnpj">Cnpj </label>
                            <input
                                type="text"
                                id="Cnpj"
                                class="form-control"
                                placeholder="Cnpj"
                                [value]="cliente.pessoa_juridica.cnpj"
                                disabled
                                maxlength="14"
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="nome_fantasia">Nome Fantasia </label>
                            <input
                                type="text"
                                id="nome_fantasia"
                                class="form-control"
                                [value]="cliente.pessoa_juridica.nome_fantasia"
                                disabled
                                placeholder="Nome Fantasia"
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-4 form-group">
                            <label for="ie">Inscrição Estadual </label>
                            <input
                                type="text"
                                id="ie"
                                class="form-control"
                                placeholder="Inscrição Estadual"
                                [value]="cliente.pessoa_juridica.ie"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="im">Inscrição Municipal </label>
                            <input
                                type="text"
                                id="im"
                                class="form-control"
                                placeholder="Inscrição Municipal"
                                [value]="cliente.pessoa_juridica.im"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="website">Web Site </label>
                            <input
                                type="text"
                                id="website"
                                class="form-control"
                                placeholder="Website"
                                [value]="cliente.pessoa_juridica.website"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                    <div class="title-modal mb-3">
                        <h5>Dados Contato</h5>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-4 form-group">
                            <label for="contato_nome">Nome contato </label>
                            <input
                                type="text"
                                id="contato_nome"
                                class="form-control"
                                placeholder="Nome"
                                [value]="cliente.pessoa_juridica.contato_nome"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="contato_telefone">Telefone Contato
                            </label>
                            <input
                                type="text"
                                id="contato_telefone"
                                class="form-control"
                                placeholder="Telefone"
                                [value]="cliente.pessoa_juridica.contato_telefone"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="contato_email">Email Contato </label>
                            <input
                                type="text"
                                id="contato_email"
                                class="form-control"
                                placeholder="Email"
                                [value]="cliente.pessoa_juridica.contato_email"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                </div>

                <div>
                    <div class="title-modal mb-3">
                        <h5>Telefone</h5>
                    </div>
                    <div class="row full-name-inputs">
                        <div class="col-sm-3 form-group">
                            <label for="Residencial">Residencial</label>
                            <input
                                type="text"
                                ngxMyNumberOnly
                                maxlength="16"
                                minlength="8"
                                class="form-control"
                                id="Residencial"
                                placeholder="Telefone Residencial"
                                [value]="cliente.telefone.residencial"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="Celular">Celular</label>
                            <input
                                type="text"
                                ngxMyNumberOnly
                                maxlength="16"
                                minlength="8"
                                class="form-control"
                                id="Celular"
                                placeholder="Telefone Celular"
                                [value]="cliente.telefone.celular"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="Comercial">Comercial</label>
                            <input
                                type="text"
                                ngxMyNumberOnly
                                maxlength="16"
                                minlength="8"
                                class="form-control"
                                id="Comercial"
                                placeholder="Telefone Comercial"
                                [value]="cliente.telefone.comercial"
                                disabled
                                nbInput
                                fullWidth
                                />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="Fax">Fax</label>
                            <input
                                type="text"
                                ngxMyNumberOnly
                                maxlength="16"
                                minlength="8"
                                class="form-control"
                                id="Fax"
                                [value]="cliente.telefone.fax"
                                disabled
                                placeholder="Telefone Fax"
                                nbInput
                                fullWidth
                                />
                        </div>
                    </div>
                    <div class="title-modal mb-3">
                        <h5>Endereço</h5>
                    </div>
                    <div>
                        <div class="row full-name-inputs">
                            <div class="col-sm-3 form-group">
                                <label for="Pais">Pais </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    value="Brasil"
                                    disabled
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="CEP">CEP</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="CEP"
                                    ngxMyNumberOnly
                                    maxlength="8"
                                    [value]="cliente.endereco.cep"
                                    disabled
                                    placeholder="CEP"
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="Logradouro">Logradouro </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Logradouro"
                                    [value]="cliente.endereco.logradouro"
                                    disabled
                                    placeholder="Logradouro"
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                        </div>
                        <div class="row full-name-inputs">
                            <div class="col-sm-4 form-group">
                                <label for="Numero">Numero </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Numero"
                                    ngxMyNumberOnly
                                    maxlength="32"
                                    [value]="cliente.endereco.numero"
                                    disabled
                                    placeholder="Numero"
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="Complemento">Complemento</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Complemento"
                                    placeholder="Complemento"
                                    [value]="cliente.endereco.complemento !==
                                    'null'
                                    ? cliente.endereco.complemento
                                    : ''" disabled
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="Bairro">Bairro </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Bairro"
                                    [value]="cliente.endereco.bairro"
                                    disabled
                                    placeholder="Bairro"
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                        </div>
                        <div class="row full-name-inputs">
                            <div class="col-sm-6 form-group">
                                <label for="Estado">Estado </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Estado"
                                    placeholder="Estado"
                                    [value]="estado"
                                    disabled
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="Municipio">Município</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Municipio"
                                    [value]="cidade"
                                    disabled
                                    placeholder="Municipio"
                                    nbInput
                                    fullWidth
                                    />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" class="mr-3"
            (click)="dismiss()">Fechar</button>
    </nb-card-footer>
</nb-card>
