nb-card {
  min-width: 400px;
  min-height: 100px;
  max-width: 100%;
  max-height: 100%;
}

.title-modal {
  border-left: solid 3px #004da0; // 004da0 azul claro 192462 azul escuro 9fc026 verde claro
  background-color: rgba(0, 77, 160, 0.13);
  padding: 10px 0 1px 10px;
  vertical-align: center;
  width: 100%;
}

.required {
  color: red;
}
