<div class="row">
    <div class="col-lg-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
            <nb-card-header>Pedidos</nb-card-header>
            <nb-card-body>
                <form [formGroup]="pedidoForm">
                    <div class="mb-3 p-3" style="background-color: #e9e9e9;">
                        <span class="h5">Cliente</span>
                        <hr class="divider">
                        <div class="row" formGroupName="cliente">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="CPF/CNPJ"
                                        formControlName="cpf"
                                        required
                                        minlength="11"
                                        maxlength="14"
                                        nbInput
                                        fullWidth
                                        status="{{
                                        pedidoForm.get('cliente.cpf').hasError('cpfNotValid')
                                        ? 'danger' :
                                        pedidoForm.get('cliente.cpf').hasError('cpfNotMin')
                                        ? 'warning' :
                                        pedidoForm.get('cliente.cpf').hasError('cnpjNotMin')
                                        ? 'warning' :
                                        pedidoForm.get('cliente.cpf').hasError('cnpjNotValid')
                                        ? 'danger' : '' }}">
                                    <div
                                        *ngIf="!pedidoForm.get('cliente.cpf').errors
                                        && clienteNotExists"
                                        class="alert alert-danger">
                                        CPF/CNPJ Não Cadastrado
                                    </div>
                                    <div
                                        *ngIf="pedidoForm.get('cliente.cpf').hasError('cpfNotValid')"
                                        class="alert alert-danger">CPF
                                        Inválido
                                    </div>
                                    <div
                                        *ngIf="pedidoForm.get('cliente.cpf').hasError('cnpjNotValid')"
                                        class="alert alert-danger">
                                        CNPJ Inválido
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group input-group-sm mb-3">
                                    <input class="form-control"
                                        formControlName="nome_razao"
                                        type="text"
                                        placeholder="Nome/Razão Social">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-4" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="adicionarPessoa('cliente')"
                                            status="success"
                                            class="buttonCliente"
                                            size="xsmall">
                                            Adicionar</button>
                                    </div>
                                    <div class="col-sm-4" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="viewClient('cliente')"
                                            [disabled]=clienteNotExists
                                            status="primary"
                                            class="buttonCliente"
                                            size="xsmall">Visualizar</button>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="clearForm('cliente')"
                                            status="danger"
                                            class="buttonCliente"
                                            size="xsmall">Limpar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="representante_legalNeeded">
                            <span class="h5">Representante Legal</span>
                            <hr class="divider">
                            <div class="row"
                                formGroupName="representante_legal">
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm
                                        mb-3">
                                        <input type="text" required
                                            class="form-control"
                                            placeholder="CPF/CNPJ"
                                            formControlName="cpf"
                                            minlength="11"
                                            maxlength="14"
                                            nbInput fullWidth
                                            status="{{pedidoForm.get('representante_legal.cpf').hasError('cpfNotValid')
                                            ? 'danger' :
                                            pedidoForm.get('representante_legal.cpf').hasError('cpfNotMin')
                                            ? 'warning' :
                                            pedidoForm.get('representante_legal.cpf').hasError('cnpjNotMin')
                                            ? 'warning' :
                                            pedidoForm.get('representante_legal.cpf').hasError('cnpjNotValid')
                                            ? 'danger' : '' }}">
                                        <div
                                            *ngIf="!pedidoForm.get('representante_legal.cpf').errors
                                            && representante_legalNotExists"
                                            class="alert alert-danger">
                                            CPF/CNPJ Não Cadastrado
                                        </div>
                                        <div
                                            *ngIf="pedidoForm.get('representante_legal.cpf').hasError('cpfNotValid')"
                                            class="alert alert-danger">CPF
                                            Inválido
                                        </div>
                                        <div
                                            *ngIf="pedidoForm.controls['representante_legal'].get('cpf').hasError('cnpjNotValid')"
                                            class="alert alert-danger">
                                            CNPJ Inválido
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group input-group-sm
                                        mb-3">
                                        <input class="form-control" type="text"
                                            formControlName="nome_razao"
                                            placeholder="Nome/Razão Social">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="row">
                                        <div class="col-sm-4" style="padding: 0
                                            !important">
                                            <button fullWidth nbButton
                                                (click)="adicionarPessoa('representante_legal')"
                                                status="success"
                                                class="buttonCliente"
                                                size="xsmall">
                                                Adicionar</button>
                                        </div>
                                        <div class="col-sm-4" style="padding: 0
                                            !important">
                                            <button fullWidth nbButton
                                                (click)="viewClient('representante_legal')"
                                                [disabled]=representante_legalNotExists
                                                status="primary"
                                                class="buttonCliente"
                                                size="xsmall">Visualizar</button>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0
                                            !important">
                                            <button fullWidth nbButton
                                                (click)="clearForm('representante_legal')"
                                                status="danger"
                                                class="buttonCliente"
                                                size="xsmall">Limpar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 p-3" style="background-color: #e9e9e9;"
                        formGroupName="nota_fiscal">
                        <span class="h5">Nota Fiscal</span>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" required
                                        class="form-control"
                                        placeholder="CPF/CNPJ"
                                        formControlName="cpf"
                                        minlength="11"
                                        maxlength="14"
                                        nbInput fullWidth
                                        status="{{pedidoForm.get('nota_fiscal.cpf').hasError('cpfNotValid')
                                        ? 'danger' :
                                        pedidoForm.get('nota_fiscal.cpf').hasError('cpfNotMin')
                                        ? 'warning' :
                                        pedidoForm.get('nota_fiscal.cpf').hasError('cnpjNotMin')
                                        ? 'warning' :
                                        pedidoForm.get('nota_fiscal.cpf').hasError('cnpjNotValid')
                                        ? 'danger' : '' }}">
                                    <div
                                        *ngIf="!pedidoForm.get('nota_fiscal.cpf').errors
                                        && nota_fiscalNotExists"
                                        class="alert alert-danger">
                                        CPF/CNPJ Não Cadastrado
                                    </div>
                                    <div
                                        *ngIf="pedidoForm.get('nota_fiscal.cpf').hasError('cpfNotValid')"
                                        class="alert alert-danger">
                                        CPF
                                        Inválido
                                    </div>
                                    <div
                                        *ngIf="pedidoForm.get('nota_fiscal.cpf').hasError('cnpjNotValid')"
                                        class="alert alert-danger">
                                        CNPJ Inválido
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group input-group-sm mb-3">
                                    <input class="form-control" type="text"
                                        formControlName="nome_razao"
                                        placeholder="Nome/Razão Social">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-4" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="adicionarPessoa('nota_fiscal')"
                                            status="success"
                                            class="buttonCliente"
                                            size="xsmall">
                                            Adicionar</button>
                                    </div>
                                    <div class="col-sm-4" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="viewClient('nota_fiscal')"
                                            [disabled]=nota_fiscalNotExists
                                            status="primary"
                                            class="buttonCliente"
                                            size="xsmall">Visualizar</button>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="clearForm('nota_fiscal')"
                                            status="danger"
                                            class="buttonCliente"
                                            size="xsmall">Limpar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 p-3" style="background-color: #e9e9e9;"
                        formGroupName="intermediario">
                        <span class="h5">Intermediário</span>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" required
                                        class="form-control"
                                        placeholder="CPF/CNPJ"
                                        formControlName="cpf"
                                        minlength="11"
                                        maxlength="14"
                                        nbInput fullWidth
                                        status="{{pedidoForm.get('intermediario.cpf').hasError('cpfNotValid')
                                        ? 'danger' :
                                        pedidoForm.get('intermediario.cpf').hasError('cpfNotMin')
                                        ? 'warning' :
                                        pedidoForm.get('intermediario.cpf').hasError('cnpjNotMin')
                                        ? 'warning' :
                                        pedidoForm.get('intermediario.cpf').hasError('cnpjNotValid')
                                        ? 'danger' : '' }}">
                                    <div
                                        *ngIf="!pedidoForm.get('intermediario.cpf').errors
                                        && intermediarioNotExists"
                                        class="alert alert-danger">
                                        CPF/CNPJ Não Cadastrado
                                    </div>
                                    <div
                                        *ngIf="pedidoForm.get('intermediario.cpf').hasError('cpfNotValid')"
                                        class="alert alert-danger">CPF
                                        Inválido
                                    </div>
                                    <div
                                        *ngIf="pedidoForm.get('intermediario.cpf').hasError('cnpjNotValid')"
                                        class="alert alert-danger">
                                        CNPJ Inválido
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group input-group-sm mb-3">
                                    <input class="form-control"
                                        formControlName="nome_razao" type="text"
                                        placeholder="Nome/Razão Social">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-4" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="adicionarPessoa('intermediario')"
                                            status="success"
                                            class="buttonCliente"
                                            size="xsmall">
                                            Adicionar</button>
                                    </div>
                                    <div class="col-sm-4" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="viewClient('intermediario')"
                                            [disabled]=intermediarioNotExists
                                            status="primary"
                                            class="buttonCliente"
                                            size="xsmall">Visualizar</button>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0
                                        !important">
                                        <button fullWidth nbButton
                                            (click)="clearForm('intermediario')"
                                            status="danger"
                                            class="buttonCliente"
                                            size="xsmall">Limpar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="pedidoForm.get('cliente.cpf').valid
                        && !clienteNotExists
                        && pedidoForm.get('nota_fiscal.cpf').valid &&
                        !nota_fiscalNotExists">
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm mb-3">
                                <select class="form-control"
                                    formControlName="produto">
                                    <option [selected]="true">Selecione um
                                        produto</option>
                                    <option *ngFor="let product of
                                        produtosParaEscolher"
                                        [value]="product.id">
                                        {{ product.nome }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary mb-2"
                                (click)="adicionarProduto()">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </form>
                <h5>Produtos</h5>
                <hr class="divider">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" width="40%">Produto</th>
                                    <th scope="col" width="15%">Valor Unitário</th>
                                    <th scope="col" width="20%">Desconto %</th>
                                    <th scope="col" width="20%">Valor Total</th>
                                    <th scope="col" width="5%">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produto of produtosEscolhidos">
                                    <td>{{produto.nome}}</td>
                                    <td>{{produto.valor_venda |
                                        currency:'BRL':'symbol-narrow'}}</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text"
                                                [ngxNumberZeroToCent]="produto.desconto_regiao
                                                || 0"
                                                maxlength="3"
                                                class="form-control"
                                                [(ngModel)]="produto.desconto_venda"
                                                (ngModelChange)="produtoChange(produto)">
                                            <div class="input-group-append">
                                                <span class="input-group-text">max
                                                    {{produto.desconto_regiao}}%</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td><input type="text"
                                            ngxMyNumberOnly
                                            class="form-control"
                                            [(ngModel)]="produto.total_venda"
                                            (ngModelChange)="produtoChange(produto,
                                            true)"></td>
                                    <td>
                                        <a href="#"
                                            (click)="removeProdutoAdicionado($event,
                                            produto)"
                                            style="color: red;">
                                            <i class="nb-trash"
                                                style="font-size: 2em"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="thead-dark">
                                <tr>
                                    <th colspan="2"></th>
                                    <th>Total</th>
                                    <th colspan="2" scope="col">{{getTotal() |
                                        currency:'BRL':'symbol-narrow'}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <button type="button" nbButton (click)="enviarPedido()">Realizar
                    Pedido</button>

            </nb-card-body>
        </nb-card>
    </div>
</div>
