<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Regiões</nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings"
                                 [source]="source"
                                 (delete)="onDelete($event)"
                                 (create)="onCreate($event)"
                                 (edit)="onEdit($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
