<nb-card>
    <nb-card-header>Adicionar Região</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="row full-name-inputs">
                <div class="col-sm-12 form-group">
                    <label for="nome">Nome da Região
                        <span [hidden]="!form.get('nome').hasError('required')" class="required">*</span>
                    </label>
                    <input type="text"
                           class="form-control"
                           id="nome"
                           placeholder="Nome"
                           formControlName="nome"
                           required
                           nbInput
                           fullWidth>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" routerLink="/sistema/regiao/regiaos">Voltar</button>
        <button nbButton status="success" size="medium" (click)="salvar()" class="float-right">Salvar</button>
    </nb-card-footer>
</nb-card>
