<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
        <div class="logo" (click)="goToHome()">ED <span>CERTIFICAÇÃO</span></div>
    </div>
</div>

<div class="header-container">
    <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
        <nb-action>
            <nb-user [nbContextMenu]="userMenu" [name]="user?.nome_razao" [picture]="user?.picture"></nb-user>
        </nb-action>
        <nb-action title="Comunicador">
            <a nbButton outline size="xsmall" status="success" href="https://sistemas.linkcertificacao.com.br/view/chat"
               target="_blank" shape="rectangle" style="cursor: pointer;">Comunicador</a>
        </nb-action>
        <nb-action title="Suporte ao agente">
            <a nbButton outline size="xsmall" status="success" href="https://sistemas.linkcertificacao.com.br/view/suporte/suporteTI"
               target="_blank" shape="rectangle" style="cursor: pointer;">Suporte ao agente</a>
        </nb-action>
    </nb-actions>
</div>
