<div class="row" [nbSpinner]="loading" nbSpinnerStatus="danger">
    <div class="col-lg-12">
        <nb-card *ngIf="pedido">
            <nb-card-header>Visualizar pedido</nb-card-header>
            <nb-card-body>
                <nb-tabset fullWidth>
                    <nb-tab tabTitle="Resumo">
                        <div class="row mt-3">
                            <div class="col-sm-12 mb-2">
                                <h5>Produtos</h5>
                                <hr>
                            </div>
                            <div class="col-sm-12">
                                <div class="row mb-3">
                                    <div class="col-sm-12 mb-3">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Produto</th>
                                                    <th scope="col">Qtde</th>
                                                    <th scope="col">Valor</th>
                                                    <th scope="col">Data</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Fatura</th>
                                                    <th scope="col">Protocolo</th>
                                                    <th scope="col">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let produto of pedido['produtos']">
                                                    <th scope="row">{{produto['pedidos']['produtos'][0]['nome']}}</th>
                                                    <td>{{'1'}}</td>
                                                    <td>{{produto['pedidos']['pedido']['valor_total'] |
                                                    currency:'BRL':'symbol-narrow'}}
                                                    </td>
                                                    <td>{{produto['pedidos']['pedido']['data_emissao'] | date:'dd/MM/yyyy'}}
                                                    </td>
                                                    <td>{{produto['pedidos']['pedido']['status']}}
                                                    </td>
                                                    <td>{{boletoStatus}}
                                                    </td>
                                                    <td>{{produto['protocolo'] !== null ? produto['protocolo'] :
                                                    'sem protocolo'}}
                                                    </td>
                                                    <td>
                                                        <a href="#" *ngIf="produto['protocolo'] === null"
                                                            class="primary" style="font-size: 2.0em;"
                                                            (click)="gerarProtocolo($event, produto)"
                                                            nbTooltip="Gerar Protocolo" nbTooltipPlacement="top">
                                                            <i class="nb-loop"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nb-tab>
                    <!--<nb-tab tabTitle="Dados do Cliente">
                        <p>Visão de <strong>Dados do Cliente</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Dados para emissão NFS-e">
                        <p>Visão de <strong>Dados para emissão NFS-e</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Contas a Receber">
                        <p>Visão de <strong>Contas a Receber</strong>.</p>
                    </nb-tab>-->
                </nb-tabset>
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <div class="col-sm-4">
                        <button nbButton routerLink="/sistema/pedidos" status="info" size="small"
                            class="float-left mr-3">
                            Voltar
                        </button>
                    </div>
                    <div class="col-sm-8">
                        <button nbButton (click)="cancelar()" status="danger" size="small"
                            class="link float-right mr-3">
                            Cancelar
                        </button>
                        <button nbButton
                            *ngIf="pedido && pedido['boleto'] !== null && pedido['boleto']['boleto']['status'] !== 'paid'"
                            (click)="segundaViaBoleto()" status="primary" size="small" class="link float-right mr-3">
                            Gerar 2ª Via
                        </button>
                        <!--<button nbButton
                            *ngIf="pedido && pedido['boleto'] !== null && pedido['boleto']['boleto']['status'] !== 'expired'"
                            (click)="imprimirBoleto()" status="primary" size="small" class="link float-right mr-3">
                            Gerar Boleto
                        </button>-->
                        <button nbButton *ngIf="pedido && pedido['boleto'] === null" (click)="imprimirBoleto()"
                            status="primary" size="small" class="link float-right mr-3">
                            Gerar Boleto
                        </button>
                        <button nbButton
                            *ngIf="pedido && pedido['boleto'] !== null && pedido['boleto']['id'] && pedido['boleto']['boleto']['status'] !== 'paid'"
                            (click)="buscarFatura()" status="success" size="small" class="link float-right mr-3">
                            Pagar Boleto
                        </button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
