<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>Editar Região: <span *ngIf="regiao !== null" style="color: darkgreen;">{{regiao.nome}}</span>
    </nb-card-header>
    <nb-card-body>
        <div class="row mb-3">
            <div class="col-sm-12 mb-2">
                <span>Aplicar desconto em todos os produtos</span>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Desconto</span>
                    </div>
                    <input type="text" ngxMyNumberOnly maxlength="3" [(ngModel)]="descontoGeral" (ngModelChange)="descontoChange($event)" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" width="5%">ID</th>
                        <th scope="col" width="50%">Produto</th>
                        <th scope="col" width="15%" class="text-center">Valor Compra (R$)</th>
                        <th scope="col" width="15%">Desconto (%)</th>
                        <th scope="col" width="15%">Valor Venda (R$)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let produto of produtos, let i=index">
                        <td><strong>#{{i}}</strong></td>
                        <td>{{produto.nome}}</td>
                        <td class="center-table-td">{{produto.valor | currency:'BRL':'symbol-narrow'}}</td>
                        <td class="center-table-td">
                            <input type="text" ngxMyNumberOnly maxlength="3" class="form-control  form-control-sm"
                                    [(ngModel)]="produto.desconto_venda" >
                        </td>
                        <td>
                            <input type="text" class="form-control  form-control-sm" [(ngModel)]="produto.valor_venda"
                                   (ngModelChange)="changeValue(produto.valor_venda, i)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" routerLink="/sistema/regiao/regiaos" class="link">Voltar
        </button>
        <button nbButton status="success" size="medium" (click)="salvar()" class="float-right link">Salvar</button>
    </nb-card-footer>
</nb-card>
