<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>Adicionar Cliente</nb-card-header>
    <nb-card-body>
        <form [formGroup]="pessoaForm">
            <div class="row full-name-inputs">
                <div class="col-sm-3 mb-3">
                    <nb-select
                        placeholder="Tipo"
                        formControlName="tipo"
                        status="success"
                        size="medium"
                        shape="rectangle">
                        <nb-select-label>
                            Pessoa
                            {{
                            pessoaForm.get('tipo').value === '1'
                            ? 'Fisica'
                            : pessoaForm.get('tipo').value === '2'
                            ? 'Juridica'
                            : ''
                            }}
                        </nb-select-label>
                        <nb-option value="1">CPF</nb-option>
                        <nb-option value="2">CNPJ</nb-option>
                    </nb-select>
                    <div *ngIf="pessoaForm.get('tipo').hasError('required')">
                        Selecione um tipo de pessoa
                    </div>
                </div>
            </div>
            <div class="title-modal mb-3">
                <h5>Cliente</h5>
            </div>
            <div *ngIf="isCpf()" formGroupName="pessoa_fisica">
                <div class="row full-name-inputs">
                    <div class="col-sm-6 form-group">
                        <label for="Cpf">Cpf
                            <span
                                class="required"
                                [hidden]="pessoaForm.get('pessoa_fisica.cpf')
                                .value !== ''">*</span>
                        </label>
                        <input
                            type="text"
                            id="Cpf"
                            class="form-control"
                            placeholder="CPF"
                            required
                            formControlName="cpf"
                            maxlength="11"
                            nbInput
                            fullWidth
                            status="{{
                            pessoaForm.get('pessoa_fisica.cpf').hasError('cpfNotValid')
                            ? 'danger'
                            :
                            pessoaForm.get('pessoa_fisica.cpf').hasError('cpfNotMin')
                            ? 'warning'
                            : ''
                            }}"
                            />
                        <div
                            *ngIf="pessoaForm.get('pessoa_fisica.cpf').hasError('cpfNotValid')"
                            class="alert alert-danger">
                            CPF Inválido
                        </div>
                        <div
                            *ngIf="checkErrorOf('cpf')"
                            class="alert alert-danger">
                            {{ checkErrorOf('cpf').text }}
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="data_nascimento">Data Nascimento<span
                                [hidden]="!pessoaForm.get(
                                'pessoa_fisica.data_nascimento'
                                ).hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            class="form-control"
                            id="data_nascimento"
                            ngxMyNumberOnly
                            ngxAniversario
                            placeholder="dd/MM/YYYY"
                            formControlName="data_nascimento"
                            maxlength="10"
                            required
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('data_nascimento')"
                            class="alert alert-danger">
                            {{ checkErrorOf('data_nascimento').text }}
                        </div>
                    </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-6 form-group">
                        <label for="Rg">Rg</label>
                        <input
                            type="text"
                            id="Rg"
                            class="form-control"
                            placeholder="Rg"
                            formControlName="rg"
                            maxlength="10"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('rg')"
                            class="alert alert-danger">
                            {{ checkErrorOf('rg').text }}
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="orgao_expedidor">Orgão Expedidor </label>
                        <input
                            type="text"
                            class="form-control"
                            id="orgao_expedidor"
                            placeholder="Orgao Expedidor"
                            formControlName="orgao_expedidor"
                            maxlength="10"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="pessoaForm.get('pessoa_fisica.orgao_expedidor')
                            .hasError('maxlength')" class="alert alert-danger">
                            Maximo 10 caracteres para orgão expedidor ex: SSPMT
                        </div>
                        <div
                            *ngIf="checkErrorOf('orgao_expedidor')"
                            class="alert alert-danger">
                            {{ checkErrorOf('orgao_expedidor').text }}
                        </div>
                    </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-4 form-group">
                        <label for="data_expedicao">Data Expedicao</label>
                        <input
                            type="text"
                            id="data_expedicao"
                            class="form-control"
                            placeholder="Data Expedicao"
                            formControlName="data_expedicao"
                            ngxMyNumberOnly
                            ngxAniversario
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('data_expedicao')"
                            class="alert alert-danger">
                            {{ checkErrorOf('data_expedicao').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="cei">CEI</label>
                        <input
                            type="text"
                            class="form-control"
                            id="cei"
                            placeholder="cei"
                            formControlName="cei"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('cei')"
                            class="alert alert-danger">
                            {{ checkErrorOf('cei').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="cargo">Cargo
                            <span
                                [hidden]="!pessoaForm.get('pessoa_fisica.cargo')
                                .hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            class="form-control"
                            id="cargo"
                            required
                            placeholder="Cargo"
                            formControlName="cargo"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('cargo')"
                            class="alert alert-danger">
                            {{ checkErrorOf('cargo').text }}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isCnpj()" formGroupName="pessoa_juridica">
                <div class="row full-name-inputs">
                    <div class="col-sm-6 form-group">
                        <label for="Cnpj">Cnpj
                            <span
                                [hidden]="!pessoaForm.get('pessoa_juridica.cnpj')
                                .hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            id="Cnpj"
                            class="form-control"
                            placeholder="Cnpj"
                            required
                            formControlName="cnpj"
                            maxlength="14"
                            ngxMyNumberOnly
                            nbInput
                            fullWidth
                            status="{{
                            pessoaForm.get('pessoa_juridica.cnpj').hasError('cnpjNotValid')
                            ? 'danger'
                            : pessoaForm.get('pessoa_juridica.cnpj')
                            .hasError('cnpjNotMin')
                            ? 'warning'
                            : ''
                            }}"
                            />
                        <div
                            [hidden]="!pessoaForm.get('pessoa_juridica.cnpj').hasError('cnpjNotValid')"
                            class="alert alert-danger">
                            CNPJ Inválido
                        </div>
                        <div
                            *ngIf="checkErrorOf('cnpj')"
                            class="alert alert-danger">
                            {{ checkErrorOf('cnpj').text }}
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="nome_fantasia">Nome Fantasia </label>
                        <input
                            type="text"
                            id="nome_fantasia"
                            class="form-control"
                            placeholder="Nome Fantasia"
                            formControlName="nome_fantasia"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('nome_fantasia')"
                            class="alert alert-danger">
                            {{ checkErrorOf('nome_fantasia').text }}
                        </div>
                    </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-4 form-group">
                        <label for="ie">Inscrição Estadual </label>
                        <input
                            type="text"
                            id="ie"
                            class="form-control"
                            placeholder="Inscrição Estadual"
                            formControlName="ie"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('ie')"
                            class="alert alert-danger">
                            {{ checkErrorOf('ie').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="im">Inscrição Municipal </label>
                        <input
                            type="text"
                            id="im"
                            class="form-control"
                            placeholder="Inscrição Municipal"
                            formControlName="im"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('im')"
                            class="alert alert-danger">
                            {{ checkErrorOf('im').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="website">Web Site </label>
                        <input
                            type="text"
                            id="website"
                            class="form-control"
                            placeholder="Website"
                            formControlName="website"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('website')"
                            class="alert alert-danger">
                            {{ checkErrorOf('website').text }}
                        </div>
                    </div>
                </div>
                <div class="title-modal mb-3">
                    <h5>Dados Contato</h5>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-4 form-group">
                        <label for="contato_nome">Nome contato
                            <span
                                [hidden]="!pessoaForm.get(
                                'pessoa_juridica.contato_nome'
                                ).hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            id="contato_nome"
                            class="form-control"
                            placeholder="Nome"
                            formControlName="contato_nome"
                            required
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('contato_nome')"
                            class="alert alert-danger">
                            {{ checkErrorOf('contato_nome').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="contato_telefone">Telefone Contato
                            <span
                                [hidden]="!pessoaForm.get(
                                'pessoa_juridica.contato_telefone'
                                ).hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            id="contato_telefone"
                            class="form-control"
                            placeholder="Telefone"
                            formControlName="contato_telefone"
                            required
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('contato_telefone')"
                            class="alert alert-danger">
                            {{ checkErrorOf('contato_telefone').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="contato_email">Email Contato
                            <span
                                [hidden]="!pessoaForm.get(
                                'pessoa_juridica.contato_email'
                                ).hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            id="contato_email"
                            class="form-control"
                            placeholder="Email"
                            formControlName="contato_email"
                            required
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('contato_email')"
                            class="alert alert-danger">
                            {{ checkErrorOf('contato_email').text }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-name-inputs">
                <div class="col-sm-6 form-group">
                    <label for="Nome">Nome
                        <span
                            [hidden]="!pessoaForm.get('nome').hasError('required')"
                            class="required">*</span>
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="Nome"
                        placeholder="Nome"
                        formControlName="nome"
                        required
                        nbInput
                        fullWidth
                        />
                    <div
                        *ngIf="checkErrorOf('nome')"
                        class="alert alert-danger">
                        {{ checkErrorOf('nome').text }}
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="Email">Email
                        <span
                            [hidden]="!pessoaForm.get('email').hasError('required')"
                            class="required">*</span>
                    </label>
                    <input
                        type="email"
                        class="form-control"
                        id="Email"
                        placeholder="Email"
                        formControlName="email"
                        required
                        nbInput
                        fullWidth
                        />
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('email').hasError('email')">
                        Email inválido
                    </div>
                    <div
                        *ngIf="checkErrorOf('email')"
                        class="alert alert-danger">
                        {{ checkErrorOf('email').text }}
                    </div>
                </div>
            </div>
            <div class="row full-name-inputs">
                <div class="col-sm-6 form-group">
                    <label for="Observacao">Observação</label>
                    <input
                        type="text"
                        class="form-control"
                        id="Observacao"
                        placeholder="Observação"
                        formControlName="observacao"
                        nbInput
                        fullWidth
                        />
                    <div
                        *ngIf="checkErrorOf('observacao')"
                        class="alert alert-danger">
                        {{ checkErrorOf('observacao').text }}
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="Pis">Pis</label>
                    <input
                        type="text"
                        class="form-control"
                        id="Pis"
                        placeholder="Pis"
                        formControlName="pis"
                        nbInput
                        fullWidth
                        />
                    <div *ngIf="checkErrorOf('pis')" class="alert alert-danger">
                        {{ checkErrorOf('pis').text }}
                    </div>
                </div>
            </div>
            <div class="title-modal mb-3">
                <h5>
                    Telefone
                    <span
                        [hidden]="!pessoaForm.get('telefone').hasError('telefoneNeeded')"
                        class="ml-3
                        required"
                        style="font-size: small;">( Prencha ao menos um telefone
                        )</span>
                </h5>
            </div>
            <div class="row full-name-inputs" formGroupName="telefone">
                <div class="col-sm-3 form-group">
                    <label for="Residencial">Residencial</label>
                    <input
                        type="text"
                        ngxMyNumberOnly
                        maxlength="16"
                        minlength="8"
                        class="form-control"
                        id="Residencial"
                        placeholder="Telefone Residencial"
                        formControlName="residencial"
                        nbInput
                        fullWidth
                        status="{{
                        pessoaForm.get('telefone.residencial').hasError('minlength')
                        ||
                        pessoaForm.get('telefone.residencial').hasError('maxlength')
                        ? 'danger'
                        : ''
                        }}"
                        />
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.residencial').hasError('minlength')">
                        Minímo de 8 Números
                    </div>
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.residencial').hasError('maxlength')">
                        Maximo de 16 Números
                    </div>
                    <div
                        *ngIf="checkErrorOf('residencial')"
                        class="alert alert-danger">
                        {{ checkErrorOf('residencial').text }}
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="Celular">Celular</label>
                    <input
                        type="text"
                        ngxMyNumberOnly
                        maxlength="16"
                        minlength="8"
                        class="form-control"
                        id="Celular"
                        placeholder="Telefone Celular"
                        formControlName="celular"
                        nbInput
                        fullWidth
                        status="{{
                        pessoaForm.get('telefone.celular').hasError('minlength')
                        ||
                        pessoaForm.get('telefone.celular').hasError('maxlength')
                        ? 'danger'
                        : ''
                        }}"
                        />
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.celular').hasError('minlength')">
                        Minímo de 8 Números
                    </div>
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.celular').hasError('maxlength')">
                        Maximo de 16 Números
                    </div>
                    <div
                        *ngIf="checkErrorOf('celular')"
                        class="alert alert-danger">
                        {{ checkErrorOf('celular').text }}
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="Comercial">Comercial</label>
                    <input
                        type="text"
                        ngxMyNumberOnly
                        maxlength="16"
                        minlength="8"
                        class="form-control"
                        id="Comercial"
                        placeholder="Telefone Comercial"
                        formControlName="comercial"
                        nbInput
                        fullWidth
                        status="{{
                        pessoaForm.get('telefone.comercial').hasError('minlength')
                        ||
                        pessoaForm.get('telefone.comercial').hasError('maxlength')
                        ? 'danger'
                        : ''
                        }}"
                        />
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.comercial').hasError('minlength')">
                        Minímo de 8 Números
                    </div>
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.comercial').hasError('maxlength')">
                        Maximo de 16 Números
                    </div>
                    <div
                        *ngIf="checkErrorOf('comercial')"
                        class="alert alert-danger">
                        {{ checkErrorOf('comercial').text }}
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="Fax">Fax</label>
                    <input
                        type="text"
                        ngxMyNumberOnly
                        maxlength="16"
                        minlength="8"
                        class="form-control"
                        id="Fax"
                        placeholder="Telefone Fax"
                        formControlName="fax"
                        nbInput
                        fullWidth
                        status="{{
                        pessoaForm.get('telefone.fax').hasError('minlength') ||
                        pessoaForm.get('telefone.fax').hasError('maxlength')
                        ? 'danger'
                        : ''
                        }}"
                        />
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.fax').hasError('minlength')">
                        Minímo de 8 Números
                    </div>
                    <div
                        class="alert alert-danger"
                        [hidden]="!pessoaForm.get('telefone.fax').hasError('maxlength')">
                        Maximo de 16 Números
                    </div>
                    <div *ngIf="checkErrorOf('fax')" class="alert alert-danger">
                        {{ checkErrorOf('fax').text }}
                    </div>
                </div>
            </div>

            <div class="title-modal mb-3">
                <h5>Endereço</h5>
            </div>
            <div formGroupName="endereco">
                <div class="row full-name-inputs">
                    <div class="col-sm-3 form-group">
                        <label for="Pais">Pais
                            <span
                                [hidden]="!pessoaForm.get('endereco.pais').hasError('required')"
                                class="required">*</span>
                        </label>
                        <select id="Pais" class="form-control" disabled>
                            <option value="1058">Brasil</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="CEP">CEP
                            <span
                                [hidden]="!pessoaForm.get('endereco.cep').hasError('required')"
                                class="required">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            id="CEP"
                            ngxMyNumberOnly
                            maxlength="8"
                            required
                            placeholder="CEP"
                            formControlName="cep"
                            nbInput
                            fullWidth
                            />
                        <div
                            [hidden]="!pessoaForm.get('endereco.cep').hasError('minlength')"
                            class="alert alert-danger">
                            Minímo de 8 numeros
                        </div>
                        <div
                            *ngIf="checkErrorOf('cep')"
                            class="alert alert-danger">
                            {{ checkErrorOf('cep').text }}
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="Logradouro">Logradouro<span
                                [hidden]="!pessoaForm.get('endereco.logradouro')
                                .hasError('required')" class="required">*</span></label>
                        <input
                            type="text"
                            class="form-control"
                            id="Logradouro"
                            required
                            placeholder="Logradouro"
                            formControlName="logradouro"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('logradouro')"
                            class="alert alert-danger">
                            {{ checkErrorOf('logradouro').text }}
                        </div>
                    </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-4 form-group">
                        <label for="Numero">Numero
                            <span
                                [hidden]="!pessoaForm.get('endereco.numero').hasError('required')"
                                class="required">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            id="Numero"
                            ngxMyNumberOnly
                            maxlength="32"
                            required
                            placeholder="Numero"
                            formControlName="numero"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('numero')"
                            class="alert alert-danger">
                            {{ checkErrorOf('numero').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="Complemento">Complemento</label>
                        <input
                            type="text"
                            class="form-control"
                            id="Complemento"
                            placeholder="Complemento"
                            formControlName="complemento"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('complemento')"
                            class="alert alert-danger">
                            {{ checkErrorOf('complemento').text }}
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="Bairro">Bairro
                            <span
                                [hidden]="!pessoaForm.get('endereco.bairro').hasError('required')"
                                class="required">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            id="Bairro"
                            required
                            placeholder="Bairro"
                            formControlName="bairro"
                            nbInput
                            fullWidth
                            />
                        <div
                            *ngIf="checkErrorOf('bairro')"
                            class="alert alert-danger">
                            {{ checkErrorOf('bairro').text }}
                        </div>
                    </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-6 form-group">
                        <label for="Estado">Estado
                            <span
                                [hidden]="!pessoaForm.get('endereco.estado').hasError('required')"
                                class="required">*</span>
                        </label>
                        <select
                            id="Estado"
                            class="form-control"
                            formControlName="estado">
                            <option [selected]="true">Selecione um estado</option>
                            <option
                                *ngFor="let uf of estados"
                                [value]="uf.id">{{ uf.nome }}</option>
                        </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="Municipio">Município<span
                                [hidden]="!pessoaForm.get('endereco.municipio').hasError('required')"
                                class="required">*</span></label>
                        <select
                            id="Municipio"
                            class="form-control"
                            formControlName="municipio">
                            <option [selected]="true">Selecione um município</option>
                            <option
                                *ngFor="let cidade of cidades"
                                [value]="cidade.codigo">
                                {{ cidade.xmunicipio }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="success" size="medium" class="mr-3"
            (click)="salvar()">
            Salvar
        </button>
        <button nbButton status="primary" size="medium" class="mr-3"
            (click)="dismiss()">Fechar</button>
    </nb-card-footer>
</nb-card>
